.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 90px;
    border-bottom: 1px solid #E5E5E5;
}

.logo {
    background-image: url(img/logo.svg);
    margin-left: 120px;
    width: 135px;
    height: 17px;
    background-size: 100%;
    display: block;
    background-position: center;
}

.menu ul {
    display: flex;
    margin-right: 140px;
    gap: 40px;
}

.menu a {
    font-family: 'Libre Franklin';
    font-size: 14px;
    color: #000000;
}

.hero {
    display: flex;
    width: 1200px;
    height: 472px;
    margin: 60px 120px 0;
}

.hero-text {
    width: 429px;
    margin-left: 50px;
}

.hero-text h4 {
    font-family: 'Libre Franklin';
    margin-bottom: 18px;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.hero-text h1 {
    font-family: 'Tenor Sans';
    font-size: 36px;
    margin-bottom: 27px;
    color: #000000;
    text-transform: uppercase;
}

.hero-text p {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.hero-text h3 {
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.posts {
    display: inline-block;
    margin: 35px 120px 0;
    width: 1220px;
    height: 963px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.post {
    flex-basis: 33%;
    width: 407px;
    height: 482px;
}

.post img {
    width: 387px;
    height: 254px;
}

.post h4 {
    font-family: 'Libre Franklin';
    margin-top: 24px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #999999;
}

.post p {
    font-family: 'Tenor Sans';
    margin-top: 18px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.bold {
    font-family: 'Libre Franklin';
    margin-top: 15px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #000000;
}

span {
    display: block;
    width: 1440px;
    border-bottom: 1px solid #E5E5E5;
}

.latest-posts {
    display: inline-block;
    margin: 0 120px 0;
}

.latest-posts h2 {
    font-family: 'Libre Franklin';
    margin: 90px 0 30px;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
}

.wrapper-latest {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 878px;
}

.latest-post {
    flex-basis: 25%;
    width: 305px;
    height: 389px;
}

.latest-post h4 {
    font-family: 'Libre Franklin';
    margin-top: 24px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #999999;
}

.latest-post p {
    font-family: 'Tenor Sans';
    margin-top: 18px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.latest-btn {
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #000000;
    width: 205px;
    height: 54px;
    margin: 0 498px 90px;
    border: 1px solid #000000;
}

.featured-posts {
    margin: 0 120px 0;
    width: 1200px;
    height: 1126px;
}

.featured-posts h2 {
    font-family: 'Libre Franklin';
    font-weight: 400;
    margin: 90px 0 30px;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
}

.wrapper-featured {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
}

.featured-post {
    flex-basis: 47%;
    height: 610px;
    width: 567px;
}

.featured-post h4 {
    font-family: 'Libre Franklin';
    font-weight: 400;
    margin-top: 25px;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.featured-post p {
    font-family: 'Tenor Sans';
    font-weight: 400;
    margin-top: 18px;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.featured-post h3 {
    font-family: 'Libre Franklin';
    font-weight: 700;
    margin-top: 15px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.featured-post img {
    width: 590px;
    height: 387px;
}